@tailwind base;
@tailwind components;
@tailwind utilities;

/* Test class */
.test-tailwind {
  @apply text-6xl font-extrabold text-red-600;
}

body {
  @apply bg-gray-100 text-gray-900;
}

.glass {
  @apply bg-white/80 backdrop-blur shadow-lg rounded-xl;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}

.animate-fadeDown {
  animation: fadeDown 0.6s ease forwards;
}

